<mat-toolbar color="accent">
  <mat-toolbar-row>
    <button mat-icon-button (click)="sidenav.toggle();">
      <mat-icon>menu</mat-icon>
    </button>
    <div class="toolbar-logo-title">
      <img src="../assets/CodefineColored.svg" alt="Company Logo" class="company-logo" />
      <h1>Accounting pages</h1>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container
  (backdropClick)="close()">
  <mat-sidenav #sidenav mode="over">
    <mat-nav-list>
      @for(item of menuItems; track $index){
        <a mat-list-item [routerLink]="item.route" (click)="close()">
          <mat-icon matListItemIcon>{{ item.icon }}</mat-icon>
          <span>{{ item.label }}</span>
        </a>
      }
    </mat-nav-list>
  </mat-sidenav>
    <mat-sidenav-content class="sidenav-content">
      <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
