.toolbar-logo-title {
  display: flex;
  align-items: center;
  gap: 10px;
}

.company-logo {
  height: 32px;
  width: auto;
}

mat-sidenav {
  width: 300px;
}

::ng-deep .nested-menu {
  transform: translateX(24px)
}

