<div class="dx-fieldset">
  <div class="header-container">
    <h2 class="page-header">Customer Invoices</h2>
    <div class="dx-field">
      <div class="filter-container">
        <dx-select-box class="Comps"
          [items]="enabledComps"
          [(value)]="selectedComp"
          placeholder="Select a company"
          [searchEnabled]="true"
          (onValueChanged)="FetchInvoices()">
        </dx-select-box>

        <dx-date-range-box
          [min]="minDate"
          [startDate]="startDate"
          [endDate]="endDate"
          startDateLabel="Posting Date Start"
          endDateLabel="End"
          [(value)]="currentValue"
          (onValueChanged)="onCurrentValueChanged($event)">
        </dx-date-range-box>

        <dx-check-box
          class="showOverdue"
          [(value)]="showOverdue"
          text="Show only overdue invoices"
          (onValueChanged)="FetchInvoices()">
        </dx-check-box>
      </div>
    </div>
  </div>
</div>

@if (loading) {
<div class="spinner">
  Loading... Please wait
</div>
} @else {
  <div #gridWrapper class="grid-wrapper">
    <dx-data-grid class="CustInvGrid"
      [dataSource]="invoices"
      keyExpr="invoiceNo"
      [allowColumnResizing]="true"
      [showBorders]="true"
      [columnAutoWidth]="false"
      rowAutoHeight="true"
      [allowColumnReordering]="true"
      [showRowLines]="true"
      (onExporting)="onExporting($event)">

      <dxo-scrolling mode="virtual"></dxo-scrolling>
      <dxo-sorting mode="multiple"></dxo-sorting>
      <dxo-selection mode="single"></dxo-selection>
      <dxo-column-fixing [enabled]="true"></dxo-column-fixing>
      <dxo-grouping [contextMenuEnabled]="true"></dxo-grouping>
      <dxo-group-panel [visible]="true"></dxo-group-panel>
      <dxo-search-panel [visible]="true" width="240" placeholder="Search"></dxo-search-panel>
      <dxo-export [enabled]="true"></dxo-export>

      <dxo-summary>
        <dxi-group-item
            column="amount"
            summaryType="sum"
            [showInGroupFooter]="true"
            valueFormat="fixedPoint"
            precision="2"
            displayFormat="{0}">
        </dxi-group-item>
        <dxi-group-item
            column="amount"
            summaryType="sum"
            valueFormat="fixedPoint"
            precision="2"
            displayFormat="Amount: {0}">
        </dxi-group-item>
        <dxi-group-item
            column="amountLCY"
            summaryType="sum"
            [showInGroupFooter]="true"
            valueFormat="fixedPoint"
            precision="2"
            displayFormat="{0}">
        </dxi-group-item>
        <dxi-group-item
            column="amountLCY"
            summaryType="sum"
            valueFormat="fixedPoint"
            precision="2"
            displayFormat="Amount LCY: {0}">
        </dxi-group-item>
        <dxi-total-item
            column="amountLCY"
            summaryType="sum"
            showInColumn="amountLCY"
            valueFormat="fixedPoint"
            precision="2"
            displayFormat="{0}">
        </dxi-total-item>
      </dxo-summary>

      <dxi-column dataField="invoiceNo" [fixed]="true" sortOrder="desc" caption="Invoice No" width="150"></dxi-column>
      <dxi-column dataField="customerName" caption="Customer" width="200" [showWhenGrouped]="true"></dxi-column>
      <dxi-column dataField="description" caption="Descr" width="200"></dxi-column>
      <dxi-column dataField="invoiceDate" dataType="date" caption="InvDate" width="100" [showWhenGrouped]="true"></dxi-column>
      <dxi-column dataField="dueDate" dataType="date" caption="DueDate" width="100" [showWhenGrouped]="true"></dxi-column>
      <dxi-column dataField="amount" dataType="number" caption="Amount" width="100"><dxo-format type="fixedPoint" precision="2"></dxo-format></dxi-column>
      <dxi-column dataField="cur" caption="Cur" width="70" [showWhenGrouped]="true"></dxi-column>
      <dxi-column dataField="amountLCY" dataType="number" caption="Amount(LCY)" width="120"><dxo-format type="fixedPoint" precision="2"></dxo-format></dxi-column>
      <dxi-column dataField="paymentDate"  dataType="date" caption="PaymentDate" width="100" [showWhenGrouped]="true"></dxi-column>
      <dxi-column dataField="paymentDocNo" caption="PaymentDocNo" width="100"></dxi-column>
      <dxi-column dataField="lateDays" dataType="number" caption="lateDays" width="80" [showWhenGrouped]="true"></dxi-column>

    </dx-data-grid>
  </div>
}
